
@{
    ViewBag.Title = "Index";
}

<h2>Relationship monitor</h2>

<p>
    Relationship monitor is a dating manager which allows users to store and process data about their business, friendship or love relationships and monitor trends recession or growth on the basis of statistical data.
</p>